@import 'styles/_mixin.scss';

.works_a {
  height: inherit;
  width: inherit;
}
.works_li {
  transition: 0.5s all ease-in-out;
  position: relative;
  display: inline-block;
  height: fit-content;
  object-fit: cover;
  width: 100%;
  height: 100%;

  &:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 5 / 3;
  }
  &:nth-child(3) {
    grid-area: 1 / 3 / 4 / 4;
  }
  &:nth-child(4) {
    grid-area: 3 / 1 / 7 / 2;
  }
  &:nth-child(5) {
    grid-area: 5 / 2 / 8 / 3;
  }
  &:nth-child(6) {
    grid-area: 4 / 3 / 6 / 4;
  }
  &:nth-child(7) {
    grid-area: 7 / 1 / 10 / 2;
  }
  &:nth-child(8) {
    grid-area: 8 / 2 / 10 / 3;
  }
  &:nth-child(9) {
    grid-area: 6 / 3 / 10 / 4;
  }
  &:nth-child(10) {
    grid-area: 10 / 1 / 12 / 2;
  }
  &:nth-child(11) {
    grid-area: 10 / 2 / 14 / 3;
  }
  &:nth-child(12) {
    grid-area: 10 / 3 / 13 / 4;
  }
  &:nth-child(13) {
    grid-area: 12 / 1 / 16 / 2;
  }
  &:nth-child(14) {
    grid-area: 14 / 2 / 17 / 3;
  }
  &:nth-child(15) {
    grid-area: 13 / 3 / 15 / 4;
  }
  &:nth-child(16) {
    grid-area: 16 / 1 / 19 / 2;
  }
  &:nth-child(17) {
    grid-area: 17 / 2 / 19 / 3;
  }
  &:nth-child(18) {
    grid-area: 15 / 3 / 19 / 4;
  }

  &:nth-child(19) {
    grid-area: 19 / 1 / 21 / 2;
  }
  &:nth-child(20) {
    grid-area: 19 / 2 / 23 / 3;
  }
  &:nth-child(21) {
    grid-area: 19 / 3 / 22 / 4;
  }
  &:nth-child(22) {
    grid-area: 21 / 1 / 25 / 2;
  }
  &:nth-child(23) {
    grid-area: 23 / 2 / 26 / 3;
  }
  &:nth-child(24) {
    grid-area: 22 / 3 / 24 / 4;
  }
  &:nth-child(25) {
    grid-area: 25 / 1 / 28 / 2;
  }
  &:nth-child(26) {
    grid-area: 26 / 2 / 28 / 3;
  }
  &:nth-child(27) {
    grid-area: 24 / 3 / 28/ 4;
  }

  @media screen and (max-width: 576px) {
    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 5 / 3;
    }
    &:nth-child(3) {
      grid-area: 3 / 1 / 6 / 2;
    }
    &:nth-child(4) {
      grid-area: 5 / 2 / 7 / 3;
    }
    &:nth-child(5) {
      grid-area: 6 / 1 / 10 / 2;
    }
    &:nth-child(6) {
      grid-area: 7 / 2 / 10 / 3;
    }

    &:nth-child(7) {
      grid-area: 10 / 1 / 12 / 2;
    }
    &:nth-child(8) {
      grid-area: 10 / 2 / 14 / 3;
    }
    &:nth-child(9) {
      grid-area: 12 / 1 / 15 / 2;
    }
    &:nth-child(10) {
      grid-area: 14 / 2 / 16 / 3;
    }
    &:nth-child(11) {
      grid-area: 15 / 1 / 19 / 2;
    }
    &:nth-child(12) {
      grid-area: 16 / 2 / 19 / 3;
    }

    &:nth-child(13) {
      grid-area: 19 / 1 / 21 / 2;
    }
    &:nth-child(14) {
      grid-area: 19 / 2 / 23 / 3;
    }
    &:nth-child(15) {
      grid-area: 21 / 1 / 24 / 2;
    }
    &:nth-child(16) {
      grid-area: 23 / 2 / 25 / 3;
    }
    &:nth-child(17) {
      grid-area: 24 / 1 / 28 / 2;
    }
    &:nth-child(18) {
      grid-area: 25 / 2 / 28 / 3;
    }

    &:nth-child(19) {
      grid-area: 28 / 1 / 30 / 2;
    }
    &:nth-child(20) {
      grid-area: 28 / 2 / 32 / 3;
    }
    &:nth-child(21) {
      grid-area: 30 / 1 / 33 / 2;
    }
    &:nth-child(22) {
      grid-area: 32 / 2 / 34 / 3;
    }
    &:nth-child(23) {
      grid-area: 33 / 1 / 37 / 2;
    }
    &:nth-child(24) {
      grid-area: 34 / 2 / 37 / 3;
    }
  }

  .close_inner {
    height: inherit;
    width: 100%;
    position: relative;
    @include flex_center;
    .works_img {
      height: inherit;
      width: inherit;
      .img_inner {
        height: inherit;
        width: inherit;
        position: relative;
        img {
          position: relative;
          object-fit: cover;
        }
      }
    }
  }
  .open_inner {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    @include flex_center;
    .company_name {
      @include dnp_font;
      text-align: center;
      p {
        @include deco_txt;
        color: #ffffff;
        @include mb(36, 40);
      }
      h6 {
        @include font(32, 18, 64, 36, 400);
        color: #ffffff;
      }
    }
  }
  &:hover {
    .open_inner {
      opacity: 1;
      height: inherit;
      width: inherit;
    }
  }
}
