@import 'styles/_mixin.scss';

.works_a {
  height: inherit;
  width: inherit;
}
.works_li {
  position: relative;
  display: inline-block;
  height: fit-content;
  object-fit: cover;
  width: 100%;
  height: 100%;

  .close_inner {
    height: inherit;
    width: 100%;
    position: relative;
    @include flex_center;
    .works_img {
      height: inherit;
      width: inherit;
      .img_inner {
        height: inherit;
        width: inherit;
        position: relative;
        img {
          position: relative;
          object-fit: cover;
        }
      }
    }
  }
  .open_inner {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    @include flex_center;
    .company_name {
      @include dnp_font;
      text-align: center;
      p {
        @include deco_txt;
        color: #ffffff;
        @include mb(36, 0);
      }
      h6 {
        @include font(32, 16, 64, 36, 400);
        color: #ffffff;
      }
    }
  }
  &:hover {
    .open_inner {
      opacity: 1;
      height: inherit;
      width: inherit;
    }
  }
}
